__pycache__/
*.pyc
backend/.env
*.sqlite3
*.log
/static/
media/
.vscode/


*.pyo
*.pyd



.env








static/





.venv/
venv/


.idea/


docker-compose.override.yml
*.env


*/migrations/__pycache__/
*/migrations/*.pyc
